* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #292b2c;
}

.row {
  display: flex;
}

.snake-body {
  background-image: url("./body.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.snake-head {
  background-image: url("./head.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  z-index: 999;
}

.snake-food {
  background-image: url("./food.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#game-over {
  position: absolute;
  top: 50%;
  right: 50%;
  color: white;
  font-size: 2rem;
}
